.Cards {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto auto;
  margin-top: 20px;
  margin-left: 10px;
  cursor: pointer;
}
.ant-card,
.ant-card-bordered {
  border-radius: 19px;
}
.description {
  font-size: 12px;

  color: #5c83b1;
}

.cardhover1 .info1 {
  font-weight: 400;
  margin-right: 20px;
  margin-top: -9px;
  color: "#5c83b1" !important;
}
.cardhover1 p {
  color: "#5c83b1" !important;
}

.ant-card-body {
  padding: 10px;
}

h3 {
  font-size: 15px;
}
.ant-card:hover {
  border: 2px solid #2b78d4;
}

.ant-layout-content,
.site-layout-background {
  background-color: #f4f9ff;
  margin-left: 20px;
  margin-right: 30px;
}
.title {
  font-weight: 700;
  color: #002f68;
}
.hover-effect-para {
  font-size: 13px;
  color: #7d7d7d;
}
.hover-effect .delete {
  margin-left: 30px;
  border-radius: 5px;
  padding: 4px 20px 4px 20px;
  color: #2b78d4;
  border: 1px solid #2b78d4;
}
.hover-effect .viewdetails {
  margin-left: 10px;
  border-radius: 5px;
  padding: 5px 25px 5px 25px;
  color: #ffffff;
  background-color: #2b78d4;
  border: #2b78d4;
}

.ant-btn,
.ant-btn-primary {
  float: right;
  margin-top: 14px;
  border-radius: 5px;
}
.hover-effect {
  display: none;
}

.ant-card:hover .hover-effect {
  display: block;
}

.cardhover1,
.avatar {
  display: block;
}

.ant-card:hover .cardhover1 {
  display: none;
}

.ant-card:hover .avatar {
  display: none;
}
.card-one {
  display: flex;
}
.card-width {
  width: 290px;
  border-radius: 15px;
}
.site-card-border-less-wrapper {
  border-radius: 10px;
}
.deletebtn {
  margin-right: 170px;
}
.viewdetailsbtn {
  /* width: 40%; */
  margin-top: -32px;
}
.ant-modal-content {
  height: 400px !important;
}

@media (max-width: 1024px) {
  .Cards {
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 786px) {
  .Cards {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 425px) {
  .Cards {
    grid-template-columns: auto;
  }
}
.Inputfield {
  font: Montserrat;
  font-size: 18px;
  font-weight: 700;
  color: rgba(0, 47, 104, 1);
}

